<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".di.YapeApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Yape"
        tools:targetApi="34">

        <!-- El API_KEY no debe escribirse en texto plano aquí y tampoco debe estar -->
        <!-- incluido en git, pero lo coloco debido a que es un reto técnico -->
        <!-- y se tiene que probar el funcionamiento sin configuración adicional -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDIPp60LeBWQprbl1K_pXxh5AzlxAzrcD4" />

        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Yape.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>